body {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
}
/* Custom FONT */
@font-face {
  font-family: 'CustomFont';
  src: url('Norse-Bold.otf'); /* IE9 Compat Modes */
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
}

/* Left side of the page (IMAGE) */
.left-container {
  position: relative;
  width: 50vw;
  min-width: 345px;
  height: 100vh;
  background: url(backImg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}

.logo-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  line-height: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 5rem;
  padding: 10px;
}

.logo-text {
  font-family: 'CustomFont', 'Courier New', Courier, monospace;
  font-size: 100px;
  color: white;
}

/* Right side of the page (FORM) */
.right-container {
  padding-left: 40px;
  margin-top: 150px;
  margin-right: 200px;
}
